@media only screen and (min-width: 700px) {
    .tile_items_2,.tile_items_2,.tile_items_3{
        margin: 0;
    } 
    .section_tiles_wrap{
        width: 85%;
    }
    .tile_row_1pr{
        column-gap: 40px;
        overflow: hidden;
        /* margin-top: 30px; */
        column-count: 1;
        /* height: 400px; */
        padding-right: 4px;
    } 
    .tile_row_2pr{
        column-gap: 40px;
        overflow: hidden;
        /* margin-top: 30px; */
        column-count: 2;
        height: 400px;
        padding-right: 4px;
        
    }
    .tile_row_3pr{
        column-gap: 40px;
        overflow: hidden;
        /* margin-top: 30px; */
        column-count: 2;
        /* height: 400px; */
        padding-right: 4px;
    }
    .tile_items_1{
        width:100%;
        display: inline-block;
        height: 390px;
        min-height: 390px;
        box-shadow: 1px 1px 2px rgba(0,0,0,.15);
        /* margin-bottom: 30px; */
    }
    .tile_items_2{
        width:100%;
        display: inline-block;
        height: 390px;
        min-height: 390px;
        box-shadow: 1px 1px 2px rgba(0,0,0,.15);
        /* margin-bottom: 30px; */
    }
    .tile_items_3{
        width:100%;
        display: inline-block;
        /* height: 390px; */
        min-height: 390px;
        box-shadow: 1px 1px 2px rgba(0,0,0,.15);
        /* margin-bottom: 30px; */
    }
    
    
    .image_h,.image_v{
        position: relative;
        width: 100%;
        height: 70%;
        overflow: hidden;
        margin: 0;
        /* float: left; */
    }
    .content_v{
        text-align: center;
        color: black;
        /* background-color: yellow; */
        background-color: white;
        padding-top: 25px;
        height: 30%;
        margin-left: 0;
    }
    .content_h{
        padding-top: 25px;
        text-align: center;
        color: black;
        background-color: white;
        height: 30%;
        
    }
    .content_v p{
        display: flex;
        justify-content: center;
        align-items: center;
        font: normal 20px 'Cookie', cursive;
        
    }
    .content_h p{
        display: flex;
        justify-content: center;
        align-items: center;
        font: normal 20px 'Cookie', cursive;
        
    }
    .im_h,.im_v{
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
    }
    .event-title{
    }
    .skipper1{
        display: none;
    }
    .skipper2{
        display: inline-block;
    }
    .tile_row_3pr_noexpand{
        height: 400px;
    }
    .tile_row_3pr_expand{
        height: auto;
    }
    .pad_down{
        margin-bottom: 30px;
    }
}